web/WEB-INF/WebServService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://Impl.WebServ/" name="webServService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://Impl.WebServ/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Impl.WebServ/" schemaLocation="WebServService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getContragentFromID">
    <part name="parameters" element="tns:getContragentFromID"/>
  </message>
  <message name="getContragentFromIDResponse">
    <part name="parameters" element="tns:getContragentFromIDResponse"/>
  </message>
  <message name="getgetListNameContragetnFromOSP">
    <part name="parameters" element="tns:getgetListNameContragetnFromOSP"/>
  </message>
  <message name="getgetListNameContragetnFromOSPResponse">
    <part name="parameters" element="tns:getgetListNameContragetnFromOSPResponse"/>
  </message>
  <message name="updateOrInsertContragent">
    <part name="parameters" element="tns:updateOrInsertContragent"/>
  </message>
  <message name="updateOrInsertContragentResponse">
    <part name="parameters" element="tns:updateOrInsertContragentResponse"/>
  </message>
  <message name="updateOrInsertOSP">
    <part name="parameters" element="tns:updateOrInsertOSP"/>
  </message>
  <message name="updateOrInsertOSPResponse">
    <part name="parameters" element="tns:updateOrInsertOSPResponse"/>
  </message>
  <message name="getListNameOsp">
    <part name="parameters" element="tns:getListNameOsp"/>
  </message>
  <message name="getListNameOspResponse">
    <part name="parameters" element="tns:getListNameOspResponse"/>
  </message>
  <message name="getAllContragent">
    <part name="parameters" element="tns:getAllContragent"/>
  </message>
  <message name="getAllContragentResponse">
    <part name="parameters" element="tns:getAllContragentResponse"/>
  </message>
  <message name="insertContragent">
    <part name="parameters" element="tns:insertContragent"/>
  </message>
  <message name="insertContragentResponse">
    <part name="parameters" element="tns:insertContragentResponse"/>
  </message>
  <message name="updateContragent">
    <part name="parameters" element="tns:updateContragent"/>
  </message>
  <message name="updateContragentResponse">
    <part name="parameters" element="tns:updateContragentResponse"/>
  </message>
  <message name="deleteContragent">
    <part name="parameters" element="tns:deleteContragent"/>
  </message>
  <message name="deleteContragentResponse">
    <part name="parameters" element="tns:deleteContragentResponse"/>
  </message>
  <message name="getOSPFromID">
    <part name="parameters" element="tns:getOSPFromID"/>
  </message>
  <message name="getOSPFromIDResponse">
    <part name="parameters" element="tns:getOSPFromIDResponse"/>
  </message>
  <message name="getAllOsp">
    <part name="parameters" element="tns:getAllOsp"/>
  </message>
  <message name="getAllOspResponse">
    <part name="parameters" element="tns:getAllOspResponse"/>
  </message>
  <message name="insertOSP">
    <part name="parameters" element="tns:insertOSP"/>
  </message>
  <message name="insertOSPResponse">
    <part name="parameters" element="tns:insertOSPResponse"/>
  </message>
  <message name="updateOSP">
    <part name="parameters" element="tns:updateOSP"/>
  </message>
  <message name="updateOSPResponse">
    <part name="parameters" element="tns:updateOSPResponse"/>
  </message>
  <message name="deleteOSP">
    <part name="parameters" element="tns:deleteOSP"/>
  </message>
  <message name="deleteOSPResponse">
    <part name="parameters" element="tns:deleteOSPResponse"/>
  </message>
  <portType name="WebServMVV">
    <operation name="getContragentFromID">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/getContragentFromIDRequest" message="tns:getContragentFromID"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/getContragentFromIDResponse" message="tns:getContragentFromIDResponse"/>
    </operation>
    <operation name="getgetListNameContragetnFromOSP">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/getgetListNameContragetnFromOSPRequest" message="tns:getgetListNameContragetnFromOSP"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/getgetListNameContragetnFromOSPResponse" message="tns:getgetListNameContragetnFromOSPResponse"/>
    </operation>
    <operation name="updateOrInsertContragent">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/updateOrInsertContragentRequest" message="tns:updateOrInsertContragent"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/updateOrInsertContragentResponse" message="tns:updateOrInsertContragentResponse"/>
    </operation>
    <operation name="updateOrInsertOSP">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/updateOrInsertOSPRequest" message="tns:updateOrInsertOSP"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/updateOrInsertOSPResponse" message="tns:updateOrInsertOSPResponse"/>
    </operation>
    <operation name="getListNameOsp">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/getListNameOspRequest" message="tns:getListNameOsp"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/getListNameOspResponse" message="tns:getListNameOspResponse"/>
    </operation>
    <operation name="getAllContragent">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/getAllContragentRequest" message="tns:getAllContragent"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/getAllContragentResponse" message="tns:getAllContragentResponse"/>
    </operation>
    <operation name="insertContragent">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/insertContragentRequest" message="tns:insertContragent"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/insertContragentResponse" message="tns:insertContragentResponse"/>
    </operation>
    <operation name="updateContragent">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/updateContragentRequest" message="tns:updateContragent"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/updateContragentResponse" message="tns:updateContragentResponse"/>
    </operation>
    <operation name="deleteContragent">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/deleteContragentRequest" message="tns:deleteContragent"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/deleteContragentResponse" message="tns:deleteContragentResponse"/>
    </operation>
    <operation name="getOSPFromID">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/getOSPFromIDRequest" message="tns:getOSPFromID"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/getOSPFromIDResponse" message="tns:getOSPFromIDResponse"/>
    </operation>
    <operation name="getAllOsp">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/getAllOspRequest" message="tns:getAllOsp"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/getAllOspResponse" message="tns:getAllOspResponse"/>
    </operation>
    <operation name="insertOSP">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/insertOSPRequest" message="tns:insertOSP"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/insertOSPResponse" message="tns:insertOSPResponse"/>
    </operation>
    <operation name="updateOSP">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/updateOSPRequest" message="tns:updateOSP"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/updateOSPResponse" message="tns:updateOSPResponse"/>
    </operation>
    <operation name="deleteOSP">
      <input wsam:Action="http://Impl.WebServ/WebServMVV/deleteOSPRequest" message="tns:deleteOSP"/>
      <output wsam:Action="http://Impl.WebServ/WebServMVV/deleteOSPResponse" message="tns:deleteOSPResponse"/>
    </operation>
  </portType>
  <binding name="WebServMVVPortBinding" type="tns:WebServMVV">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getContragentFromID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getgetListNameContragetnFromOSP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateOrInsertContragent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateOrInsertOSP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListNameOsp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllContragent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertContragent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateContragent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteContragent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOSPFromID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllOsp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertOSP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateOSP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteOSP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="webServService">
    <port name="WebServMVVPort" binding="tns:WebServMVVPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

